# ============================================================
# Configurações do Backend - Ciclovias Recife
# ============================================================

# Porta do servidor (padrão: 3000)
PORT=3000


# Ambiente: development | production
NODE_ENV=development
