# ============================================================
# Configurações do Backend - Ciclovias Recife
# ============================================================

# Porta do servidor (padrão: 3000)
PORT=192.168.0.3


# Ambiente: development | production
NODE_ENV=development
